*{
    padding: 0;
    margin: 0;
}

#HomePage{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#HomePage #Content{
    display: flex;
    flex-direction: row;
}
#HomePage #profile{
    width: 20%;
    margin-top: 2%;
    margin-left: 2.5%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-radius: 8px;
    background-color: #eceff1;
}

#HomePage #profile #content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#HomePage #profile #content img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 12px;
}

#HomePage #profile #content p{
    font-size: 20px;
}

#HomePage #profile #buttons{
    margin-top: 15px;
}

#HomePage #profile #buttons button{
    color: rgb(19, 19, 18);
    margin: 18px 6px 6px 6px;
    padding: 10px 8px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}

#HomePage #profile #buttons button:hover{
    transform: scale(1.05);
}

#HomePage #profile #buttons button:first-child{
    background-color: #cad0d5;
}

#HomePage #profile #buttons button:last-child{
    background-color:rgb(232, 236, 234);
}

#HomePage #posts{
    width: 100%;
    margin: 100% 100;
}

#HomePage #posts #post{
    width: 100%;
    height: 100;
    background-color: #909293;
    border-radius: 100px;
    display: grid;
    align-content: flex-end;
    word-wrap: break-word;
    margin: 20px auto 40px auto;
    display: flex;
    justify-content: center;
}

#HomePage #posts #post #post_profile{
    display: flex;
    padding: 100px;
    align-items: center;
}

#HomePage #posts #post #post_profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

#HomePage #posts #post #foto_post{
    justify-self: center;
    height: 250px;
    object-fit: cover;
    justify-self: center;
    margin-bottom: 20px;
}

#HomePage #posts #post p{
    text-align: justify;
    width: auto;
    height: auto;
    font-size: large;
    padding-bottom: 10px;
}


#HomePage #posts-notLogin{
    width: 85%;
    height: 67%;
    border-radius: 8px;
    display: grid;
    align-content: flex-start;
    word-wrap: break-word;
    margin: 20px auto 0px auto;
    justify-content: center;
}

#HomePage #posts-notLogin #post{
    background-color: #afb3b5;
    padding: 0px 140px 0px 140px;
    margin-top: 12px;
}

#HomePage #posts-notLogin #post_profile{
    display: flex;
    padding: 10px;
    align-items: center;
}

#HomePage #posts-notLogin #post_profile img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 50px;
}

#HomePage #posts-notLogin #foto_post{
    justify-self: center;
    height: 250px;
    object-fit: cover;
    justify-self: center;
    margin-bottom: 50px;
}

#HomePage #posts-notLogin p{
    text-align: justify;
    width: auto;
    height: auto;
    font-size: large;
    padding-bottom: 10px;
}